@charset "UTF-8";
body {
  font-family: "M PLUS 1p", sans-serif;
  position: relative;
}
@media screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 217px auto 150px;
  }
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #707070;
}

li {
  list-style: none;
}

.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
}

.l-main-wrapper {
  background: #fff;
}

.l-sidebar {
  grid-row: 1/3;
  grid-column: 2/3;
  background-color: #F2EDE9;
  z-index: 1000;
  min-width: 280px;
  position: fixed;
  height: 100%;
  top: 0;
  right: -1000px;
  transition: 0.4s;
}
.l-sidebar.open {
  right: 0;
  transition: 0.4s;
  width: 80%;
}
@media screen and (min-width: 600px) {
  .l-sidebar.open {
    width: 45%;
  }
}
@media screen and (min-width: 1025px) {
  .l-sidebar {
    position: static;
    overflow: visible;
  }
}

.l-footer {
  grid-column: 1/3;
  height: 150px;
}

.c-button {
  background: linear-gradient(to bottom, #F2EDE9, #DED8D3);
  border: 1px solid;
  font-weight: bold;
}
.c-button--single {
  width: min(100%, 429px);
  aspect-ratio: 4/1;
  border-radius: 20px;
  border-color: #707070;
  color: #3C2A10;
}

.c-search-box {
  border: 1px solid #707070;
  border-radius: 10px;
  background: url(images/header_search_icon.svg) no-repeat 10px #FFFFFF;
}

.c-title {
  color: #fff;
  font-weight: bold;
}
.c-title--dark {
  color: #3C2A10;
  font-weight: bold;
}
.c-title--m {
  font-family: "M PLUS 1p", sans-serif;
}

.c-cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}
.c-cover__overlay {
  position: fixed;
  z-index: -100;
}
.c-cover__overlay.active {
  z-index: 500;
}
.c-cover--light {
  background: rgba(0, 0, 0, 0.3);
}

.c-line {
  width: 32px;
  height: 4px;
  background: #fff;
  display: block;
}
.c-line--deg45 {
  transform: rotate(45deg);
}
.c-line--deg135 {
  transform: rotate(135deg);
}
.c-line--vertical {
  transform: rotate(90deg);
}

.c-text {
  font-size: 16px;
  font-style: normal;
  color: #3C2A10;
  line-height: 23px;
}
.c-text--bold {
  font-weight: bold;
}

.c-scrollbar--hidden {
  overflow: scroll;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

/* Chrome, Safari 対応 */
.c-scrollbar--hidden::-webkit-scrollbar {
  display: none;
}

.c-img {
  width: 100%;
}

.c-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .c-margin {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.c-margin--top {
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .c-margin--top {
    margin-top: 60px;
  }
}
.c-margin--bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .c-margin--bottom {
    margin-bottom: 60px;
  }
}

.c-table {
  border-collapse: collapse;
  background-color: #fff;
}
.c-table th, .c-table td {
  border: solid 1px #707070;
}

@media screen and (min-width: 1025px) {
  .p-search-form {
    padding: 0 30px 0 0;
  }
}
.p-search-form__button {
  padding: 5px 15px;
  color: #707070;
  height: 46px;
  width: 78px;
  transition: 0.3s;
  border-radius: 10px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .p-search-form__button {
    width: 136px;
    transition: 0s;
  }
}
@media screen and (min-width: 1025px) {
  .p-search-form__button {
    width: clamp(78px, 7.61vw, 136px);
  }
}
.p-search-form__search-box {
  height: 46px;
  width: 230px;
  transition: 0.3s;
  padding: 0 10px 0 40px;
  margin: 0 10px 0 0;
}
@media screen and (min-width: 600px) {
  .p-search-form__search-box {
    width: 396px;
    transition: 0s;
  }
}
@media screen and (min-width: 1025px) {
  .p-search-form__search-box {
    width: clamp(300px, 29.268vw, 396px);
  }
}

.p-header {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.p-header__title {
  color: #707070;
  font-size: 40px;
  transition: 0.3s;
  padding: 40px 0;
}
@media screen and (min-width: 1025px) {
  .p-header__title {
    font-size: clamp(43px, 4.195vw, 64px);
    transition: 0s;
    text-align: left;
    padding-left: 4%;
  }
}
.p-header__menu {
  color: #707070;
  font-size: 20px;
  transition: 0.3s;
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .p-header__menu {
    font-size: 34px;
    transition: 0.3s;
    top: 18px;
    right: 26px;
  }
}
@media screen and (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}
.p-header__button {
  color: #707070;
}

.p-sidebar {
  padding: 172px 0 200px 46px;
  color: #707070;
}
@media screen and (min-width: 1025px) {
  .p-sidebar {
    padding-top: 82px;
  }
}
.p-sidebar__menu {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__menu {
    display: block;
    font-size: 34px;
  }
}
.p-sidebar__button {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__button {
    display: none;
  }
}
.p-sidebar__close {
  position: absolute;
  background: #707070;
}
@media screen and (min-width: 1025px) {
  .p-sidebar__close {
    display: none;
  }
}
.p-sidebar__main-menu h3 {
  font-size: 24px;
  padding: 40px 0;
}
.p-sidebar__sub-menu {
  font-size: 20px;
  line-height: 44px;
  padding-left: 20px;
}

.p-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .p-main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.p-main__title {
  position: relative;
  z-index: 300;
  font-size: 36px;
  padding: 0 0 0 25px;
}
@media screen and (min-width: 600px) {
  .p-main__title {
    padding: 0 0 0 86px;
  }
}
@media screen and (min-width: 1025px) {
  .p-main__title {
    font-size: 40px;
  }
}
.p-main--front {
  background-image: url(images/mainvisual-sp@2x.jpg);
  height: 285px;
  background-position: right;
}
@media screen and (min-width: 600px) {
  .p-main--front {
    background-image: url(images/mainvisual-pc.jpg);
  }
}
@media screen and (min-width: 1025px) {
  .p-main--front {
    height: 530px;
  }
}
.p-main--archive {
  background-image: url(images/page-title_archive@2x.jpg);
  height: 283px;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-main--archive {
    height: 239px;
    background-position: center;
  }
}
.p-main--archive__cover {
  position: absolute;
  z-index: 200;
}
@media screen and (min-width: 600px) {
  .p-main--archive__title {
    font-size: 60px;
  }
}
.p-main--archive__subtitle {
  font-size: 16px;
  position: relative;
  z-index: 300;
  padding: 0 0 0 25px;
}
.p-main--single {
  height: 225px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-main--single {
    height: 500px;
  }
}
.p-main--single__title {
  position: absolute;
}
@media screen and (min-width: 600px) {
  .p-main--single__title {
    font-size: clamp(40px, 7.194vw, 60px);
  }
}
.p-main--page {
  background-image: url(images/page_bg_sp.jpg);
  height: 225px;
}
@media screen and (min-width: 600px) {
  .p-main--page {
    height: 500px;
    background-image: url(images/page_bg_tab.jpg);
  }
}
@media screen and (min-width: 1400px) {
  .p-main--page {
    background-image: url(images/page_bg_pc.jpg);
  }
}
.p-main__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-branch-menu {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 4.167vw, 80px);
  padding: 20px;
}
@media screen and (min-width: 600px) {
  .p-branch-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: clamp(40px, 6.667vw, 120px);
    padding-bottom: clamp(40px, 6.667vw, 120px);
    padding-left: 0;
    padding-right: 0;
  }
}
.p-branch-menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  min-height: 642px;
}
.p-branch-menu__content--first {
  background-image: url(images/front-page_article_bg01.jpg);
  background-position: center;
}
.p-branch-menu__content--first > .c-title {
  color: #EAEAEA;
}
.p-branch-menu__content--second {
  background-image: url(images/front-page_article_bg02.jpg);
  background-position: center;
}
@media screen and (min-width: 600px) {
  .p-branch-menu__content {
    min-height: 681px;
    width: 43%;
  }
}
@media screen and (min-width: 1025px) {
  .p-branch-menu__content {
    min-height: 1000px;
  }
}
.p-branch-menu__title {
  font-size: 41px;
  position: absolute;
  top: clamp(11px, 1.834vw, 20px);
  left: clamp(10px, 1.667vw, 19px);
}
@media screen and (min-width: 600px) {
  .p-branch-menu__title {
    font-size: 44px;
  }
}
@media screen and (min-width: 600px) and (min-width: 1025px) {
  .p-branch-menu__title {
    font-size: clamp(44px, 4.293vw, 80px);
  }
}
.p-branch-menu__line {
  position: absolute;
  width: clamp(33px, 6.875vw, 63px);
  top: 86px;
  left: clamp(13.5px, 2.813vw, 26.5px);
}
@media screen and (min-width: 1025px) {
  .p-branch-menu__line {
    top: clamp(86px, 8.39vw, 160.5px);
  }
}
.p-branch-menu__line--first {
  display: none;
}
@media screen and (min-width: 600px) {
  .p-branch-menu__line--first {
    display: block;
  }
}
.p-branch-menu__subtitle {
  font-size: 22px;
  color: #3C2A10;
  padding: 19px 0 19px 10px;
}
@media screen and (min-width: 600px) {
  .p-branch-menu__subtitle {
    font-size: 24px;
  }
}
.p-branch-menu__text {
  padding: 0 14px 23px 10px;
  min-height: 70px;
}
.p-branch-menu__item {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 20px 20px 20px;
  min-height: 25%;
}
@media screen and (min-width: 1025px) {
  .p-branch-menu__item {
    min-height: 15%;
  }
}

.p-access {
  z-index: 100;
  background-image: url(images/front-page_map.jpg);
  background-size: cover;
  min-height: 691px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .p-access {
    min-height: 415px;
  }
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 649px;
  }
}
.p-access__title {
  margin-top: clamp(40px, 6.667vw, 83px);
  margin-left: clamp(40px, 6.667vw, 120px);
  z-index: 300;
  font-size: 30px;
}
@media screen and (min-width: 1025px) {
  .p-access__title {
    font-size: 36px;
  }
}
.p-access__line {
  z-index: 300;
  width: 75px;
  height: 2px;
  margin-top: clamp(20px, 6.667vw, 55px);
  margin-bottom: clamp(20px, 6.667vw, 55px);
  margin-left: clamp(40px, 6.667vw, 120px);
}
.p-access__text {
  z-index: 300;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 33px;
  padding-left: clamp(40px, 6.667vw, 120px);
  padding-right: clamp(40px, 6.667vw, 120px);
  padding-bottom: 5%;
}
@media screen and (min-width: 1025px) {
  .p-access__text {
    font-size: 16px;
    max-width: 55%;
  }
}
.p-access__cover {
  position: absolute;
  z-index: 200;
}
.p-access__cover--second {
  height: 60%;
}
@media screen and (min-width: 600px) {
  .p-access__cover--second {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__cover--second {
    height: 100%;
    width: 60%;
  }
}

.p-footer {
  background-image: url(images/footer_bg.jpg);
  background-size: cover;
}
.p-footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 39px 0 34px 0;
}
.p-footer a {
  color: #fff;
  font-size: 20px;
  padding: 0 20px;
}
.p-footer__copy {
  color: #fff;
  text-align: center;
  font-size: 14px;
}
.p-footer__line {
  width: 20px;
  height: 1px;
}
.p-footer li + li {
  position: relative;
}
.p-footer li + li:before {
  display: block;
  content: "";
  height: 1.2em;
  border-left: 2px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.p-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .p-card {
    flex-direction: row;
    position: relative;
  }
}
.p-card__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 600px) {
  .p-card__img {
    width: 50%;
    aspect-ratio: 1/1;
  }
}
@media screen and (min-width: 1400px) {
  .p-card__img {
    aspect-ratio: 4/3;
  }
}
.p-card__text-box {
  background-color: #3C2B1C;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: clamp(17px, 3.542vw, 63px);
  padding-right: clamp(17px, 3.542vw, 63px);
}
@media screen and (min-width: 600px) {
  .p-card__text-box {
    width: 50%;
  }
}
.p-card__title {
  font-size: 20px;
  margin: 8% 0;
}
@media screen and (min-width: 600px) {
  .p-card__title {
    white-space: nowrap;
  }
}
@media screen and (min-width: 1025px) {
  .p-card__title {
    font-size: clamp(20px, 1.951vw, 34px);
  }
}
@media screen and (min-width: 1400px) {
  .p-card__title {
    font-size: 34px;
  }
}
.p-card h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  .p-card h2 {
    font-size: clamp(16px, 1.561vw, 24px);
  }
}
@media screen and (min-width: 1400px) {
  .p-card h2 {
    font-size: 24px;
  }
}
.p-card__button {
  background: #fff;
  color: #707070;
  height: 42px;
  width: 163px;
  border-radius: 50px;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .p-card__button {
    width: clamp(163px, 15.902vw, 292px);
    height: clamp(42px, 4.098vw, 76px);
    margin-bottom: 25px;
    margin-top: 6%;
  }
}
@media screen and (min-width: 830px) {
  .p-card__button {
    margin-top: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .p-card__button {
    margin-top: clamp(40px, 3.334vw, 60px);
  }
}

.p-description {
  margin-bottom: 15px;
}
@media screen and (min-width: 600px) {
  .p-description {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1400px) {
  .p-description {
    margin-bottom: 70px;
  }
}
.p-description__title {
  font-size: 28px;
  color: #3C2A10;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .p-description__title {
    font-size: 36px;
  }
}
.p-description__text {
  color: #3C2A10;
}
@media screen and (min-width: 600px) {
  .p-description__title--single {
    margin-bottom: 60px;
  }
}

.p-container {
  padding: 30px 20px 60px 20px;
}
@media screen and (min-width: 600px) {
  .p-container {
    padding-left: clamp(20px, 3.334vw, 40px);
    padding-right: clamp(20px, 3.334vw, 40px);
    padding-top: clamp(36px, 6vw, 60px);
    padding-bottom: clamp(105px, 17.5vw, 150px);
  }
}
@media screen and (min-width: 1400px) {
  .p-container {
    padding-left: clamp(40px, 3.334vw, 100px);
    padding-right: clamp(40px, 3.334vw, 100px);
  }
}
.p-container--single {
  padding-bottom: 177px;
}
@media screen and (min-width: 600px) {
  .p-container--single {
    padding-bottom: clamp(228px, 38vw, 353px);
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 30px 20px;
  color: #707070;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi {
    justify-content: center;
    padding: 0 0 30px 0;
    gap: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .wp-pagenavi {
    padding: 0 0 64px 0;
  }
}
.wp-pagenavi .page, .wp-pagenavi .current {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  visibility: hidden;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi .page, .wp-pagenavi .current {
    visibility: visible;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #707070;
  }
  .wp-pagenavi .page:hover, .wp-pagenavi .current:hover {
    background-color: #3C2B1C;
    color: #fff;
  }
}
@media screen and (min-width: 600px) {
  .wp-pagenavi .current {
    background-color: #3C2B1C;
    color: #fff;
  }
}
.wp-pagenavi .pages {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #707070;
  display: none;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi .pages {
    display: block;
  }
}
.wp-pagenavi .previouspostslink {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi .previouspostslink {
    font-size: 0;
    gap: 0;
  }
}
.wp-pagenavi .previouspostslink::before {
  content: "";
  background: url(images/pagination_prev_icon.svg) no-repeat;
  width: 20px;
  height: 20px;
}
.wp-pagenavi .nextpostslink {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 600px) {
  .wp-pagenavi .nextpostslink {
    font-size: 0;
    gap: 0;
  }
}
.wp-pagenavi .nextpostslink::after {
  content: "";
  background: url(images/pagination_next_icon.svg) no-repeat;
  width: 20px;
  height: 20px;
}

.p-quotation {
  background-color: #F5F5F5;
  padding: 30px 20px;
}
@media screen and (min-width: 600px) {
  .p-quotation {
    padding: 50px 60px 50px 50px;
  }
}
.p-quotation a {
  color: #4A6C9B;
  text-decoration: underline;
}

.p-product {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 600px) {
  .p-product {
    gap: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .p-product {
    gap: 40px;
  }
}
.p-product__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
}
.p-product__text {
  max-height: 176px;
}
.p-product__single-img {
  height: 116px;
  width: auto;
  display: block;
  margin: 30px auto;
}
@media screen and (min-width: 600px) {
  .p-product__single-img {
    height: 358px;
    width: auto;
    margin: 60px auto;
  }
}

.p-headline--single h3 {
  font-size: 24px;
}
@media screen and (min-width: 600px) {
  .p-headline--single h3 {
    font-size: 28px;
  }
}
.p-headline--single h4, .p-headline--single h5, .p-headline--single h6 {
  font-size: 20px;
}

.p-image-list {
  width: 100%;
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .p-image-list {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1400px) {
  .p-image-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.p-list ol:nth-child(2) {
  margin: 20px 0 20px 18px;
}
.p-list ul:nth-child(2) {
  margin: 20px 0 20px 18px;
}

.p-table {
  width: 100%;
}
.p-table th, .p-table td {
  padding: 28px 20px 27px 30px;
  color: #3C2A10;
}
.p-table__first-column {
  width: 40%;
}
@media screen and (min-width: 600px) {
  .p-table__first-column {
    width: 30%;
  }
}

.p-article {
  color: #3C2A10;
}
.p-article h2 {
  font-size: 28px;
}
.p-article h2, .p-article h3, .p-article h4, .p-article h5, .p-article h6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-article p {
  line-height: 23px;
}
.p-article blockquote {
  background-color: #F5F5F5;
  padding: 30px 20px;
}
.p-article blockquote p {
  margin-bottom: 30px;
}
.p-article blockquote cite {
  font-style: normal;
  line-height: 23px;
}
.p-article blockquote a {
  color: #4A6C9B;
  text-decoration: underline;
}
.p-article ol, .p-article ul {
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}
.p-article li {
  list-style: inherit;
}
.p-article pre {
  background-color: #F5F5F5;
  padding: 50px 60px 50px 50px;
  line-height: 23px;
}
.p-article th, .p-article td {
  border: solid 1px #707070;
  padding: 30px;
}
.p-article .wp-block-button__link {
  color: #3C2A10;
  background-color: #DED8D3;
  border: 1px solid;
  border-color: #707070;
  font-weight: bold;
  padding: 30px;
}

/*
Theme Name: Hamburgersite
Description: 最終課題 デザインカンプからのコーディング
Version: 1.0.0
Theme URI: https://github.com/maemochi/hamburger-site-WP
Author: Mae
Author URI: https://github.com/maemochi
Text Domain: hamburgersite
*/
/* Foundation
==========================*/
/* Layout
==========================*/
/* Object
==========================*/
/* Component* -------------------- */
/* Project* -------------------- */
/* Utility* -------------------- */
/*# sourceMappingURL=style.css.map */