@use "../../foundation/variable" as v;
@use "../../foundation/mixin" as m;

.p-image-list {
    width: 100%;
    display: grid;
    gap: 20px;
    @include m.mq (tab) {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    @include m.mq(xl) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}