@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.wp-pagenavi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 30px 20px;
    color: v.$font-color-main;
    gap: 15px;
    @include m.mq(tab) {
        justify-content: center;
        padding: 0 0 30px 0;
        gap: 15px;
    }
    @include m.mq(pc) {
        padding: 0 0 64px 0;
    }
    .page, .current {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        visibility: hidden;
        @include m.mq(tab) {
            visibility: visible;
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border: 1px solid v.$font-color-main;
            &:hover {
                background-color: v.$content-color;
                color: v.$font-color-light;
            }
        }
    }
    .current {
        @include m.mq(tab) {
        background-color: v.$content-color;
        color: v.$font-color-light;
        }
    }
    .pages {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: v.$font-color-main;
        display: none;
        @include m.mq(tab) {
            display: block;
        }
    }
    .previouspostslink {
        display: flex;
        align-items: center; //flexで疑似要素との中央揃え
        gap: 8px;
        @include m.mq(tab) {
            font-size: 0;
            gap: 0;
        }
        &::before {
            content: "";
            display: inline-block;
            background: url(images/pagination_prev_icon.svg) no-repeat;
            width: 20px;
            height: 20px;
        }
    }
    .nextpostslink {
        display: flex;
        align-items: center; //flexで疑似要素との中央揃え
        gap: 8px;
        @include m.mq(tab) {
            font-size: 0;
            gap: 0;
        }
        &::after {
            content: "";
            display: inline-block;
            background: url(images/pagination_next_icon.svg) no-repeat;
            width: 20px;
            height: 20px;
        }
    }

}
