@use "../../foundation/mixin" as m;
@use "../../foundation/variable" as v;

.p-sidebar {
    padding: 172px 0 200px 46px;
    color: v.$font-color-main;
    @include m.mq(pc) {
        padding-top: 82px;
    }
    &__menu {
        display: none;
        @include m.mq(pc) {
            display: block;
            font-size: 34px;
        }
    }
    &__button {
        position: absolute;
        top: 25px;
        right: 25px;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.mq(pc) {
            display: none;
        }
    }
    &__close {
        position: absolute;
        background: v.$font-color-main;
        @include m.mq(pc) {
            display: none;
        }
    }
    &__main-menu {
        h3 {
            font-size: 24px;
            padding: 40px 0;//liタグの構成が違ったのでh3に設定し直し
        }
    }
    &__sub-menu {
        font-size: 20px;
        line-height: 44px;
        padding-left: 20px;
    }

}