@use "../foundation/mixin" as m;
@use "../foundation/variable" as v;

.l-sidebar {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background-color: v.$sidebar-color;
  z-index: 1000;
  min-width: 280px;
  position: fixed;
  height: 100%;
  // overflow: scroll;
  top: 0;
  right: -1000px;
  transition: 0.4s;
  &.open {
    right: 0;
    transition: 0.4s;
    width: 80%;
    @include m.mq(tab) {
      width: 45%;
    }
  }
  @include m.mq(pc) {
    position: static;
    overflow: visible;
  }
}
